---
import Menu from "../components/Menu.astro";
import DarkMode from "../components/BotonDark.astro";
---

<html lang="es">
    <body>
        <Menu />
        <h1>NOSOTROS</h1>
        <div class="descripcion">
            <p>
                Somos un estudio mexicano independiente que trabaja desde Santa
                Mónica en el corazón del Estado de México. Tenemos el deseo de
                contar historias, queremos ser el equivalente a un bardo en la
                actualidad, pero vamos a ser un poco más selectivos al tratar de
                transmitir solamente historias de calidad incuestionable.
            </p>
            <p>
                Lo que hagamos, lo haremos excelente, seremos extremadamente
                minuciosos y precisos, vamos a cuidar cada parte de cada
                historia como si fuera el clímax mismo. No importa en que medio
                presentemos la historia, cuando veas que es de Montenegro sabrás
                que estás por tomar un viaje sumamente emocionante y emotivo que
                llevarás en tu corazón por el resto de tu vida.
            </p>
            <p>
                Nuestro objetivo es convertirnos en algo más grande que un
                estudio, queremos ser una casa productora, hacer más
                videojuegos, libros, mangas, música y si lo logramos enserio,
                hasta películas y series. Tenemos muchos objetivos y proyectos
                en mente, por favor obsérvanos tratar de hacerlos realidad.
            </p>
            <p>
                Estamos muy emocionados de presentar nuestro primer proyecto:
                Tenebra. Una novela visual de terror y misterio ambientada en
                una escuela de arte en un mundo donde la luz del sol no llega.
                La historia está llena de cosas espeluznantes, problemas
                existenciales, peleas entre amigos, ansiedad escolar,
                adicciones, aberraciones, secretos y una playa negra.
            </p>
            <p>
                Montenegro es un estudio muy pequeño. Es como una pequeña bestia
                que pide amor a gritos en el corazón del mundo, como un
                homúnculo en una pequeña botella dispuesto a hacer un trato,
                como un niño atrapado en un iceberg o como una niña de
                vacaciones en un resort barato con su papá. Somos un inicio y
                créeme, no te imaginas nuestro final.
            </p>
        </div>
    </body>
</html>
<style>
    body {
        margin: 0px;
        padding: 0px;
    }
    h1 {
        font-style: italic;
        font-size: 4em;
        font-weight: 800;
        text-align: center;
    }
    p {
        margin: 1.5em;
        font-size: 2em;
    }
    body.dark h1{
        color: aliceblue;
    }
    body.dark p{
            color: aliceblue;
        }
</style>
