---
import Menu from "../components/Menu.astro";
import DarkMenu from "../components/BotonDark.astro";
---

<html lang="es">
    <body>
        <Menu />
        <h1>TENEBRA</h1>
        <p>
            Cerca de prácticamente nada, una academia de arte se erige entre las
            sombras de un mundo donde la luz del sol ya no la alcanza. La
            penumbra eterna no es un problema para los estudiantes, cuyos ojos
            se han acostumbrado a la gentil iluminación de los candiles y las
            velas que fulguran por todos lados.
        </p>
        <p>
            Un funesto festival une a las tres academias de arte más
            prestigiosas del continente, se reúnen en una sola sede para dar
            paso a 99 noches en las que los virtuosos conviven, rivalizan,
            exhiben y manifiestan su alma a través de su arte; la inmortalidad,
            el prestigio y la magnificencia les espera a los mejores. Una fuerte
            presión aborda el corazón de cada estudiante, muchos no pueden
            tolerarlo.
        </p>
        <p>
            Ysane es un joven que suele tener problemas para comunicar sus ideas
            con palabras y se refugia en la ilustración para expresarse. Con el
            festival en ciernes, se da cuenta de que ha esperado ésta
            oportunidad desde siempre, y quizás sea la última que tenga. Sin
            previo aviso, en la lóbrega penumbra eterna recibe un mensaje,
            alguien está dispuesto a ampararlo en su cometido.
        </p>
        <p>
            Desde hace mucho tiempo, algo siniestro se fragua en las tinieblas,
            una profana conmemoración aguarda su celebración. La aciaga noche
            eterna está cercana a terminar su egoísta usurpación.
        </p>
    </body>
</html>

<style>
    body {
        margin: 0px;
        padding: 0px;
    }
    h1 {
        font-style: italic;
        font-size: 4em;
        font-weight: 800;
        text-align: center;
    }
    p {
        margin: 2.5em;
        font-size: 1.5em;
    }
    body.dark h1 {
        color: aliceblue;
    }
    body.dark p {
        color: aliceblue;
    }
</style>
